.contador {


min-height:70vh;


display:flex;


justify-content:center;


align-items:center;


padding:80px 25px;



background:

linear-gradient(
180deg,
#fffaf7,
#f7ebe5
);


}



.contenido {


text-align:center;


}



.detalle {


font-size:40px;


color:#c69b82;


}



.contenido h2 {


font-family:

"Playfair Display",
serif;


font-size:50px;


color:#8b6655;


margin:20px;


}



.linea {


width:90px;

height:2px;


background:#cda58d;


margin:25px auto 50px;


}



.reloj {


display:flex;


justify-content:center;


gap:25px;


flex-wrap:wrap;


}



.reloj div {


width:120px;


height:120px;


background:white;


border-radius:25px;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;



box-shadow:

0 20px 40px rgba(0,0,0,.08);



animation:

subir .8s ease;


}



.reloj strong {


font-family:

"Playfair Display",
serif;


font-size:45px;


color:#9a7060;


}



.reloj span {


color:#806b62;


font-size:14px;


text-transform:uppercase;


letter-spacing:1px;


}



.mensaje {


margin-top:45px;


font-size:18px;


color:#806d65;


}



@keyframes subir {


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}



@media(max-width:600px){


.reloj div{


width:90px;

height:90px;


}



.reloj strong{

font-size:32px;

}


}