.ubicacion {


min-height:100vh;


padding:90px 25px;


display:flex;


justify-content:center;


align-items:center;



background:

linear-gradient(
180deg,
#f7ebe5,
#fffaf7
);



}



.contenido {


width:100%;

max-width:800px;

text-align:center;


}



.detalle {


font-size:40px;


color:#c69b82;


}



.contenido h2 {


font-family:

"Playfair Display",
serif;


font-size:50px;


color:#8b6655;


margin:25px;


}




.tarjeta {


background:white;


padding:45px;


border-radius:30px;


box-shadow:


0 25px 60px rgba(0,0,0,.1);


animation:

entrada 1s ease;


}



.icono {


font-size:55px;


}



.tarjeta h3 {


font-family:

"Playfair Display",
serif;


font-size:30px;


color:#916b59;


}



.tarjeta p {


font-size:18px;


color:#75655d;


}



.mapa {


height:220px;


margin:30px 0;


border-radius:25px;


background:


linear-gradient(
135deg,
#eee4dc,
#faf5f0
);



display:flex;


align-items:center;


justify-content:center;


}



.circulo {


width:70px;


height:70px;


border-radius:50%;


background:#c38f82;


display:flex;


align-items:center;


justify-content:center;


font-size:30px;


}





.tarjeta button {


border:none;


padding:15px 40px;


border-radius:30px;


background:#b98b78;


color:white;


font-size:16px;


cursor:pointer;


transition:.3s;


}



.tarjeta button:hover {


transform:

translateY(-3px);


box-shadow:

0 10px 25px rgba(0,0,0,.15);


}





@keyframes entrada {


from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}


}