.vestimenta {


min-height:80vh;


padding:90px 25px;


display:flex;


justify-content:center;


align-items:center;



background:

linear-gradient(
180deg,
#f7ebe5,
#fffaf7
);



}



.contenido {


max-width:900px;


width:100%;


text-align:center;


}



.detalle {


font-size:45px;


color:#c69b82;


}



.contenido h2 {


font-family:

"Playfair Display",
serif;


font-size:50px;


color:#8b6655;


margin:25px;


}



.linea {


width:100px;


height:2px;


background:#cda58d;


margin:30px auto;


}



.contenido h3 {


font-family:

"Playfair Display",
serif;


font-size:35px;


color:#9a7060;


}



.tarjetas {


display:grid;


grid-template-columns:repeat(2,1fr);


gap:35px;


margin-top:50px;


}



.card {


background:white;


padding:40px;


border-radius:30px;


box-shadow:

0 20px 45px rgba(0,0,0,.08);


}



.icono {


font-size:55px;


}



.card h4 {


font-family:

"Playfair Display",
serif;


font-size:30px;


color:#916b59;


}



.card p {


font-size:17px;


line-height:1.8;


color:#75645d;


}



.mensaje {


margin-top:45px;


font-size:18px;


color:#75645d;


}



@media(max-width:700px){


.tarjetas{


grid-template-columns:1fr;


}


}