.final {


min-height:100vh;


display:flex;


justify-content:center;


align-items:center;


padding:60px 25px;


position:relative;


background:


linear-gradient(

135deg,

#f5e5df,

#fffaf7

);


overflow:hidden;


}



.overlay {


position:absolute;


inset:0;


background:

radial-gradient(

circle,

rgba(255,255,255,.8),

transparent 60%

);


}



.contenido {


position:relative;


max-width:750px;


text-align:center;


padding:60px 40px;


animation:

aparecer 2s ease;


}



.detalle {


font-size:55px;


color:#c68d91;


}



.contenido h2 {


font-family:

"Playfair Display",
serif;


font-size:60px;


color:#8b6655;


margin:25px 0;


}



.linea {


width:120px;


height:2px;


background:#cda58d;


margin:30px auto;


}



.contenido p {


white-space:pre-line;


font-size:20px;


line-height:2;


color:#75655d;


}



.contenido h3 {


white-space:pre-line;


font-family:

"Playfair Display",
serif;


font-style:italic;


font-size:32px;


color:#9b7565;


margin-top:45px;


}



.cierre {


font-size:45px;


color:#c69b82;


margin-top:35px;


}



@keyframes aparecer {


from{


opacity:0;


transform:

translateY(50px);


}



to{


opacity:1;


transform:

translateY(0);


}



}



@media(max-width:600px){


.contenido h2{


font-size:45px;


}


.contenido p{


font-size:17px;


}



}